/* hader css start */
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.set {
  margin-left: 100px;
  margin-top: 15px;
}

.header {
  overflow: hidden;
  background-color: #f7f7f7;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  color: #999;
}

.header a.active {
  text-align: center;
  border-radius: 40px;
  color: black;
  margin: 10px;
}

.header a:hover {
  color: #999;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

/* header css end */

/* footer css start */

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: acumin-pro, system-ui, sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 14px;
  background-color: #f4f4f4;
  align-items: start;
  min-height: 100vh;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #f7f7f7;
  border-top: 1px solid #e5e5e5;
}

.footer>* {
  flex: 1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  margin-left: 40px;
  text-decoration: none;
}



.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav>* {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
  margin-left: 12%;
}

.mat {
  margin-left: 50px;
}

@media (max-width: 600px) {
  .legal {

    margin-left: 15%;
  }

  .mat {
    margin-left: 25px;
  }
}

.legal__links {
  display: flex;
  align-items: center;
}

.legal1 {
  display: flex;
  flex-wrap: wrap;
  color: #999;
  margin-left: 40%;
}

@media (max-width: 600px) {
  .legal1 {
    margin-left: 20%;
  }
}

.legal1__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav>* {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}

.bot {
  width: 80px;
  color: black !important;
  text-align: center;
  border-radius: 40px;
  margin: 10px;
}

.bot:hover {

  color: #999;
}


/* footer css end */

/* content section start */
#hero {
  width: 100%;
  height: 180vh;
  background: url('./Medipedia_images/Background-images/bg1.jpeg') top center;
  background-size: cover;
  position: relative;
}

.align-items-center {
  align-items: center !important;
}

#hero .container {
  padding-top: 72px;
}

#hero .medipedia-search {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  border: 2px solid #fff;
  width: 90%;
  margin-left: 65px;
  background-color: transparent;
  margin-top: 200px;
}

.row1 {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.text-center {
  text-align: center !important;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* content section end */
/* search  media query start */
@media (max-width: 600px) {
  #hero .medipedia-search {
    margin: 20px;
    margin-top: 150px;
  }
}

/* search  media query end */
/* caosol strat */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter card2s */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  justify-self:center;
  background-color: #f1f1f1;
}

.cont {
  margin-left: 30%;
}

@media screen and (max-width: 600px) {
  .cont {
    margin-left: 12%;
  }
}

/* caosol start */

.card2 {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 50px;
  text-align: center;
  background-color: #f1f1f1;


}

.crs {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: rgb(237, 235, 235); */
}

section .card2 .image {
  height: 200px;
  width: 198px;
  background: rgb(47, 40, 40);
}

section .card2 .image img {
  height: 104%;
  width: 158%;
  object-fit: cover;

  border: 3px solid rgb(163, 157, 157);


}

.card2 {
  background: rgb(255, 255, 255);
  border-radius: 20px;
  position: absolute;
  margin: 54px 0;
  width: 406px;
  height: 410px;
}

.card2::before {
  margin-top: -54px;
  margin-left: -205px;
  content: "";
  position: absolute;
  height: 77%;
  background-color: rgb(162 162 162);
  width: 100%;
  border-radius: 20px 20px 0 0;
  box-shadow: 8px 0px 10px 0px rgb(100 98 98);
}




.card-content{
  position: absolute !important;
}
.card2 .card2-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 100;
}

.card2 .media-icons {
  position: absolute;
  top: 10px;
  right: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card2 .media-icons i {
  margin-top: 10px;
  color: rgb(6, 77, 77);
  opacity: 0.6;
  transition: all 3s ease-in-out;
  cursor: pointer;


}

.card2 .media-icons i:hover {
  opacity: 1;
  zoom: 2;
}

.card2 .name-profession {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
  ;
  margin-top: 10px;
  width: 152%;
  color: rgb(67, 61, 61);
}

.name-profession .name {
  font-size: 20px;
  font-weight: 600px;
}

.name-profession .profession {
  font-size: 14px;
  font-weight: 500px;
}

.card2 .button1 {
  position: absolute;
  top: 10px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card2 .button1 i {
  cursor: pointer;
  margin-top: 10px;
  color: rgb(6, 77, 77);
  opacity: 0.6;

}

.card2 .button2 {
  /* position: absolute; */
  width: 152%;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  /* bottom: -80px; */
}

.card2 .button2 .aboutme {
  background: #9b9696;
  outline: none;
  border: none;
  padding: 8px 22px;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.5s ease;
  cursor: pointer;

}

.button2 .aboutme:hover {
  background: rgb(187, 122, 122);
}